# Ignore everything and include .gitignore
*
!.gitignore

# bspwm
!hypr/
!hypr/hyprland.conf
!hypr/hyprpaper.conf

# polybar
!polybar
!polybar/config.ini
!polybar/launch.sh

# alacritty
!alacritty/
!alacritty/alacritty.toml

# rofi
!rofi/
!rofi/config.rasi

# picom
!picom/
!picom/picom.conf

# neovim
!nvim/
!nvim/init.lua
!nvim/lua/
!nvim/lua/**

# wallpapers
!wallpapers/
!wallpapers/**
