*
!.gitignore
!.config/
!README.md

# hyprland
!.config/hypr/
!.config/hypr/**

# waybar
!.config/waybar/
!.config/waybar/**

# alacritty
!.config/alacritty/
!.config/alacritty/**

# rofi
!.config/rofi/
!.config/rofi/**

# picom
!.config/picom/
!.config/picom/**

# neovim
!.config/nvim/
!.config/nvim/**

# wallpapers
!.wallpapers/
!.wallpapers/**
